body {}

h1 {
    font-family: monospace;
    background-color: white;
    margin-right: 75%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
    color: black;
    transition-duration: 0.4s;
}

h1:hover {
    background-color: black;
    color: white
}

button {
    font-family: monospace;
    background-color: white;
    margin-top: 20px;
    display: block;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid black;
    color: black;
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    color: white;
}